.blog-article {
    width: 60%;
    float: right;
    position: relative;
}

.article-container,
.comments-container {
    background-color: #EAFEFC;
    padding: 100px;
    h2 {
        font-family: 'IM Fell English', serif;
        font-size: 4.5rem;
        font-weight: lighter;
        text-transform: uppercase;
        color: #0D457F;
    }
}

.article-container {
    border-left: 5px solid #FDD908;
    border-bottom: 5px solid #FDD908;
    img {
        position: absolute;
        top: -150px;
        right: 0;
        box-shadow: -15px 15px #FDD908;
        width: 98%;
    }
    h2 {
        margin-top: 350px;
    }
    p {
        margin: 30px 0;
    }
}

.comments-container {
    h2 {
        margin-bottom: 50px;
    }
}

.comment1,
.comment2 {
    display: flex;
}

.comment1 {
    margin-bottom: 100px;
}

.comment1 div:nth-of-type(1),
.comment2 div:nth-of-type(1) {
    padding: 0 20px;
} 

.comment1 div:nth-of-type(2),
.comment2 div:nth-of-type(2) {
    width: 80%;
}

.comment-title {
    color: #0D457F;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-comment-container {
    background-color: #EAFEFC;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.personal-info {
    display: flex;
    justify-content: center;
}

#blog-name,
#blog-email {
    border-bottom: 2px solid #FDD908;
    width: 50%;
}

#comment {
    border: 2px solid #FDD908;
}

#blog-name,
#blog-email,
#comment {
    background-color: #EAFEFC;
    color: black;
    margin: 20px 0;
    padding: 20px;
}

#blog-submit {
    border: none;
    color: #FDD908;
    background-color: #0D457F;
    font-family: 'IM Fell English', serif;
    text-transform: uppercase;
    padding: 10px;
}

@media (max-width:1145px) {
    .article-container,
    .comments-container {
        padding: 50px;
    } 
}

@media (max-width:977px) {
    .article-container,
    .comments-container {
        h2 {
            font-size: 3.5rem;
        }
    }
    .article-container {
        img {
            position: initial;
        }
        h2 {
            margin-top: 50px;
        }
    }
    .blog-article {
        float: none;
        width: 100%;
    }
    #blog-name,
    #blog-email {
    width: 100%;
    }
}

@media (max-width: 480px) {
    .article-container,
    .comments-container {
        padding: 25px;
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 1.5rem;
        }
    }
    .comment1,
    .comment2 {
        img {
            display: none;
        }
    }
    .input-comment-container {
        padding: 10px;
    }
    #blog-name {
        margin: 0;
    }
}

@media (max-width: 400px) {
    #blog-email {
        margin: 10px 0;
    }
}