.home-section1-container {
    background-color: #EAFEFC;
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
        width: 600px;
        padding: 20px;
        height: 200px;
        h2 {
            font-family: 'IM Fell English', serif;
            font-size: 4.5rem;
            font-weight: lighter;
            text-transform: uppercase;
            color: #0D457F;
            width: 100%;
        }
        p {
            margin-top: 20px;
        }
        i {
            background-color: #FDD908;
            padding: 20px;
            border-radius: 50%;
        }
    }
}

.home-section2-container {
    background-color: #0D457F;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    div {
        width: 50%;
        h2 {
            font-family: 'IM Fell English', serif;
            font-size: 4.5rem;
            font-weight: lighter;
            text-transform: uppercase;
            color: #FFFFFF;
            width: 100%;
        }
        p {
            margin: 20px 0;
            color: #FFFFFF;
        }
        a {
            font-family: 'IM Fell English', serif;
            color: #0D457F;
            background-color: #FDD908;
            font-size: 22.4px;
            line-height: 41.6px;
            text-align: center;
            text-transform: uppercase;
            padding: 10px;
        }
    }
}

.home-section2-container div:nth-of-type(1) {
    box-shadow: 15px 15px #FDD908;
    position: relative;
    top: -30px;
    left: -40px;
}

.home-section2-container div:nth-of-type(2),
.home-section2-container div:nth-of-type(3) {
    padding: 30px;
}

.home-section2-container div:nth-of-type(4) {
    box-shadow: -15px 15px #FDD908;
    position: relative;
    bottom: -30px;
    right: 0;
}

.home-section3-container div {
    background-color: #EAFEFC;
    text-align: center;
    padding-top: 100px;
    h2 {
        font-family: 'IM Fell English', serif;
        font-size: 4.5rem;
        font-weight: lighter;
        text-transform: uppercase;
        color: #0D457F;
        width: 100%;
    }
    a {
        font-family: 'IM Fell English', serif;
        color: #0D457F;
        background-color: #FDD908;
        font-size: 22.4px;
        line-height: 41.6px;
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
    }
}

.win-trip {
    display: flex;
    div:nth-of-type(1) {
        padding: 50px;
    }
    div:nth-of-type(2) {
        width: 70%;
        text-align: left;
        padding: 50px;
    }
}

.vacation-days-p,
.win-trip-p {
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
}

.vacation-days-p {
    width: 70%;
}

.gallery-section-container ul {
    padding: 50px 30px;
    background-color: #0D457F;
    display: flex;
    justify-content: center;
}

.gallery-section-container li {
    width: calc((100% / 3) - 40px);
    margin: 0 20px;
}

@media (max-width: 1075px) {
    .home-section2-container div:nth-of-type(1),
    .home-section2-container div:nth-of-type(4) {
        box-shadow: none;
        position: initial;
    }
}

@media (max-width: 1056px) {
    .win-trip div {
        h2 {
            font-size: 4rem;
        }
    }
}

@media (max-width: 1024px) {
    .home-section2-container {
        display: flex;
        flex-direction: column;
        div {
            width: 100%;
            text-align: center;
        }
    }
}

@media (max-width: 985px) {
    .win-trip div {
        h2 {
            font-size: 3.5rem;
        }
    }
}

@media (max-width: 915px) {
    .vacation-days-p {
        text-align: center;
    }
    .win-trip {
        flex-direction: column;
        align-items: center;
        div {
            width: 100%;
            margin: 0 auto;
            h2,
            p,
            a {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    .win-trip div:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .home-section1-container {
        padding: 50px 0;
        div {
            i {
                display: none;
            }
        }
    }
    .home-section3-container div {
        padding-top: 50px;
    }
    .win-trip div:nth-of-type(2) {
        width: 100%;
    }
    .gallery-section-container ul {
        padding: 25px;
    }
}

@media (max-width: 600px) {
    .home-section1-container {
        div {
            text-align: center;
            h2 {
                font-size: 3rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
    .home-section3-container div h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 480px) {
    .home-section2-container div h2 {
        font-size: 3.5rem;
    }
    .home-section3-container div h2 {
        font-size: 3rem;
    }
    .win-trip div:nth-of-type(1) {
        padding: 0 20px;
    }
    .gallery-section-container ul {
        padding: 10px;
    }
}

@media (max-width: 380px) {
    .home-section1-container {
        div {
            h2 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.3rem;
            }
        }
    }
    .home-section2-container div h2 {
        font-size: 3rem;
    }
}