.fa.fa-bars {
    display: none;
}

.nav-container {
    padding-top: 50px;
    li {
        display: inline-block;
        a {
            text-transform: capitalize;
            color: #FFFFFF;
            padding: 10px;
            margin-right: 40px;
            transition: all 0.15s ease;
        }
    }
}

.nav-container a:hover {
    border-bottom: 3px solid #FDD908;
}

@media (max-width: 767px) {
    .fa.fa-bars {
        font-size: 4rem;
        display: block;
        float: right;
        color: #FDD908;
        padding: 10px;
        border-radius: 25%;
    }
    .fa.fa-bars:hover {
        background-color: #0D457F;
    }
    .nav-container ul {
        display: none;
    }
}

@media (max-width: 480px) {
    .fa.fa-bars {
        font-size: 3.5rem;
    }
    .nav-container li a {
        margin: 0;
        padding: 0 15px;
        font-size: 1.6rem;
    }
}

@media (max-width: 380px) {
    .fa.fa-bars {
        font-size: 2.5rem;
    }
    .nav-container li a {
        padding: 0 10px;
        font-size: 1.4rem;
    }
}