.nav-container {
    padding-top: 50px;
    li {
        display: inline-block;
        a {
            text-transform: capitalize;
            color: #FFFFFF;
            padding: 10px;
            margin-right: 40px;
            transition: all 0.1s ease;
        }
    }
}

.nav-container a:hover {
    border-bottom: 2px solid #FDD908;
}

@media (max-width: 767px) {
    .nav-container {
        display: flex;
        justify-content: center;
    }
    .nav-container li a {
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .nav-container li a {
        margin: 0;
        padding: 0 15px;
        font-size: 1.6rem;
    }
}

@media (max-width: 380px) {
    .nav-container li a {
        padding: 0 10px;
        font-size: 1.4rem;
    }
}