html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  max-width: 100%;
}

ul,
li,
h1,
h2,
h3,
h4,
nav,
p,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: black;
  line-height: 29px;
  letter-spacing: 1px;
}

.fa.fa-bars {
  display: none;
}

.nav-container {
  padding-top: 50px;
}

.nav-container li {
  display: inline-block;
}

.nav-container li a {
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 10px;
  margin-right: 40px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.nav-container a:hover {
  border-bottom: 3px solid #FDD908;
}

@media (max-width: 767px) {
  .fa.fa-bars {
    font-size: 4rem;
    display: block;
    float: right;
    color: #FDD908;
    padding: 10px;
    border-radius: 25%;
  }
  .fa.fa-bars:hover {
    background-color: #0D457F;
  }
  .nav-container ul {
    display: none;
  }
}

@media (max-width: 480px) {
  .fa.fa-bars {
    font-size: 3.5rem;
  }
  .nav-container li a {
    margin: 0;
    padding: 0 15px;
    font-size: 1.6rem;
  }
}

@media (max-width: 380px) {
  .fa.fa-bars {
    font-size: 2.5rem;
  }
  .nav-container li a {
    padding: 0 10px;
    font-size: 1.4rem;
  }
}

.main-header {
  background-image: url(./assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
}

.main-header h1 {
  font-family: 'IM Fell English', serif;
  font-size: 7.9rem;
  font-weight: lighter;
  color: #FDD908;
  text-transform: uppercase;
  margin-top: 200px;
  line-height: initial;
}

.main-header img {
  position: absolute;
  right: 0;
  top: 170px;
  width: 50%;
  min-width: 500px;
}

.h1-container {
  width: 80%;
}

@media (max-width: 1099px) {
  .main-header img {
    width: 45%;
    min-width: 300px;
  }
}

@media (max-width: 1024px) {
  .main-header img {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-header h1 {
    margin-top: 0;
    font-size: 7.5rem;
  }
}

@media (max-width: 600px) {
  .main-header h1 {
    font-size: 5rem;
    text-align: center;
  }
  .main-header .h1-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .main-header h1 {
    font-size: 4rem;
  }
}

.home-section1-container {
  background-color: #EAFEFC;
  padding-top: 200px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-section1-container div {
  width: 600px;
  padding: 20px;
  height: 200px;
}

.home-section1-container div h2 {
  font-family: 'IM Fell English', serif;
  font-size: 4.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #0D457F;
  width: 100%;
}

.home-section1-container div p {
  margin-top: 20px;
}

.home-section1-container div i {
  background-color: #FDD908;
  padding: 20px;
  border-radius: 50%;
}

.home-section2-container {
  background-color: #0D457F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-section2-container div {
  width: 50%;
}

.home-section2-container div h2 {
  font-family: 'IM Fell English', serif;
  font-size: 4.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
}

.home-section2-container div p {
  margin: 20px 0;
  color: #FFFFFF;
}

.home-section2-container div a {
  font-family: 'IM Fell English', serif;
  color: #0D457F;
  background-color: #FDD908;
  font-size: 22.4px;
  line-height: 41.6px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.home-section2-container div:nth-of-type(1) {
  -webkit-box-shadow: 15px 15px #FDD908;
          box-shadow: 15px 15px #FDD908;
  position: relative;
  top: -30px;
  left: -40px;
}

.home-section2-container div:nth-of-type(2),
.home-section2-container div:nth-of-type(3) {
  padding: 30px;
}

.home-section2-container div:nth-of-type(4) {
  -webkit-box-shadow: -15px 15px #FDD908;
          box-shadow: -15px 15px #FDD908;
  position: relative;
  bottom: -30px;
  right: 0;
}

.home-section3-container div {
  background-color: #EAFEFC;
  text-align: center;
  padding-top: 100px;
}

.home-section3-container div h2 {
  font-family: 'IM Fell English', serif;
  font-size: 4.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #0D457F;
  width: 100%;
}

.home-section3-container div a {
  font-family: 'IM Fell English', serif;
  color: #0D457F;
  background-color: #FDD908;
  font-size: 22.4px;
  line-height: 41.6px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.win-trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.win-trip div:nth-of-type(1) {
  padding: 50px;
}

.win-trip div:nth-of-type(2) {
  width: 70%;
  text-align: left;
  padding: 50px;
}

.vacation-days-p,
.win-trip-p {
  margin: 0 auto;
  padding: 50px 0;
  text-align: left;
}

.vacation-days-p {
  width: 70%;
}

.gallery-section-container ul {
  padding: 50px 30px;
  background-color: #0D457F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-section-container li {
  width: calc((100% / 3) - 40px);
  margin: 0 20px;
}

@media (max-width: 1075px) {
  .home-section2-container div:nth-of-type(1),
  .home-section2-container div:nth-of-type(4) {
    -webkit-box-shadow: none;
            box-shadow: none;
    position: initial;
  }
}

@media (max-width: 1056px) {
  .win-trip div h2 {
    font-size: 4rem;
  }
}

@media (max-width: 1024px) {
  .home-section2-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-section2-container div {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 985px) {
  .win-trip div h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 915px) {
  .vacation-days-p {
    text-align: center;
  }
  .win-trip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .win-trip div {
    width: 100%;
    margin: 0 auto;
  }
  .win-trip div h2,
  .win-trip div p,
  .win-trip div a {
    margin: 0 auto;
    text-align: center;
  }
  .win-trip div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 767px) {
  .home-section1-container {
    padding: 50px 0;
  }
  .home-section1-container div i {
    display: none;
  }
  .home-section3-container div {
    padding-top: 50px;
  }
  .win-trip div:nth-of-type(2) {
    width: 100%;
  }
  .gallery-section-container ul {
    padding: 25px;
  }
}

@media (max-width: 600px) {
  .home-section1-container div {
    text-align: center;
  }
  .home-section1-container div h2 {
    font-size: 3rem;
  }
  .home-section1-container div p {
    font-size: 1.5rem;
  }
  .home-section3-container div h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .home-section2-container div h2 {
    font-size: 3.5rem;
  }
  .home-section3-container div h2 {
    font-size: 3rem;
  }
  .win-trip div:nth-of-type(1) {
    padding: 0 20px;
  }
  .gallery-section-container ul {
    padding: 10px;
  }
}

@media (max-width: 380px) {
  .home-section1-container div h2 {
    font-size: 2.5rem;
  }
  .home-section1-container div p {
    font-size: 1.3rem;
  }
  .home-section2-container div h2 {
    font-size: 3rem;
  }
}

.footer-container {
  background-color: #FDD908;
  color: #0D457F;
  text-align: center;
}

.blog-header-container {
  background-image: url(./assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
}

.blog-header-container h1 {
  font-family: 'IM Fell English', serif;
  font-size: 7.9rem;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 100px;
}

.blog-header-container img {
  position: absolute;
  right: 0;
  top: 350px;
  width: 60%;
  min-width: 500px;
}

@media (max-width: 767px) {
  .blog-header-container h1 {
    text-align: center;
    margin-top: 25px;
  }
}

.mission-statement-container {
  float: left;
  width: 30%;
  background-color: #0D457F;
  padding: 25px;
  margin-top: 100px;
}

.mission-statement-container img {
  position: relative;
  min-width: 380px;
  top: -65px;
  left: -115px;
}

.mission-statement-container h3 {
  font-family: 'IM Fell English', serif;
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #FDD908;
  width: 100%;
  margin: 20px 0;
}

.mission-statement-container p {
  margin-top: 10px;
  color: #FFFFFF;
}

.mission-statement-container ul li {
  padding: 5px 0;
}

.mission-statement-container ul li::before {
  content: "\2022";
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  padding: 0 10px;
}

.mission-statement-container a {
  color: #FFFFFF;
}

@media (max-width: 1110px) {
  .mission-statement-container a,
  p {
    font-size: 1.6rem;
  }
}

@media (max-width: 1024px) {
  .mission-statement-container {
    padding: 25px;
  }
}

@media (max-width: 977px) {
  .mission-statement-container {
    text-align: center;
    float: none;
    width: 100%;
  }
  .mission-statement-container img {
    position: initial;
    max-height: 400px;
  }
}

@media (max-width: 480px) {
  .mission-statement-container img {
    display: none;
  }
}

.blog-article {
  width: 60%;
  float: right;
  position: relative;
}

.article-container,
.comments-container {
  background-color: #EAFEFC;
  padding: 100px;
}

.article-container h2,
.comments-container h2 {
  font-family: 'IM Fell English', serif;
  font-size: 4.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #0D457F;
}

.article-container {
  border-left: 5px solid #FDD908;
  border-bottom: 5px solid #FDD908;
}

.article-container img {
  position: absolute;
  top: -150px;
  right: 0;
  -webkit-box-shadow: -15px 15px #FDD908;
          box-shadow: -15px 15px #FDD908;
  width: 98%;
}

.article-container h2 {
  margin-top: 350px;
}

.article-container p {
  margin: 30px 0;
}

.comments-container h2 {
  margin-bottom: 50px;
}

.comment1,
.comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment1 {
  margin-bottom: 100px;
}

.comment1 div:nth-of-type(1),
.comment2 div:nth-of-type(1) {
  padding: 0 20px;
}

.comment1 div:nth-of-type(2),
.comment2 div:nth-of-type(2) {
  width: 80%;
}

.comment-title {
  color: #0D457F;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-comment-container {
  background-color: #EAFEFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#blog-name,
#blog-email {
  border-bottom: 2px solid #FDD908;
  width: 50%;
}

#comment {
  border: 2px solid #FDD908;
}

#blog-name,
#blog-email,
#comment {
  background-color: #EAFEFC;
  color: black;
  margin: 20px 0;
  padding: 20px;
}

#blog-submit {
  border: none;
  color: #FDD908;
  background-color: #0D457F;
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
  padding: 10px;
}

@media (max-width: 1145px) {
  .article-container,
  .comments-container {
    padding: 50px;
  }
}

@media (max-width: 977px) {
  .article-container h2,
  .comments-container h2 {
    font-size: 3.5rem;
  }
  .article-container img {
    position: initial;
  }
  .article-container h2 {
    margin-top: 50px;
  }
  .blog-article {
    float: none;
    width: 100%;
  }
  #blog-name,
  #blog-email {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .article-container,
  .comments-container {
    padding: 25px;
  }
  .article-container h2,
  .comments-container h2 {
    text-align: center;
  }
  .article-container p,
  .comments-container p {
    text-align: center;
    font-size: 1.5rem;
  }
  .comment1 img,
  .comment2 img {
    display: none;
  }
  .input-comment-container {
    padding: 10px;
  }
  #blog-name {
    margin: 0;
  }
}

@media (max-width: 400px) {
  #blog-email {
    margin: 10px 0;
  }
}

.contact-header-container {
  background-image: url(./assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
}

.contact-header-container h1 {
  font-family: 'IM Fell English', serif;
  font-size: 7.9rem;
  color: #FDD908;
  text-transform: uppercase;
  margin-top: 100px;
}

.info-container {
  padding: 50px 0 300px 100px;
  background-color: #EAFEFC;
}

.contact-container {
  background-color: #0D457F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  -webkit-box-shadow: 10px 10px #FDD908;
          box-shadow: 10px 10px #FDD908;
  position: absolute;
  right: 50px;
  top: 350px;
  width: 60%;
}

.personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

#contact-name,
#contact-email {
  border-bottom: 2px solid #FDD908;
  width: 50%;
}

#contact-message {
  border: 2px solid #FDD908;
}

#contact-name,
#contact-email,
#message {
  background-color: #0D457F;
  color: #FFFFFF;
  margin: 20px 0;
  padding: 20px;
}

#contact-submit {
  border: none;
  background-color: #FDD908;
  color: #0D457F;
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
  padding: 10px;
}

.icons a {
  padding: 0 10px;
  color: #0D457F;
}

.address-container {
  padding: 10px;
}

.address-container p:nth-of-type(1) {
  margin: 20px 0;
}

@media (max-width: 1200px) {
  .contact-container {
    position: initial;
    float: right;
  }
  .info-container {
    padding: 50px 0 300px 50px;
  }
}

@media (max-width: 1024px) {
  .info-container {
    padding: 50px;
    text-align: center;
  }
  .contact-container {
    width: 100%;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .contact-header-container h1 {
    margin-top: 200px;
    font-size: 7rem;
    text-align: center;
  }
  .personal-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-name,
  #contact-email {
    width: 100%;
  }
}

@media (max-width: 615px) {
  .contact-header-container h1 {
    font-size: 5rem;
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .contact-header-container h1 {
    font-size: 4rem;
  }
}

@media (max-width: 380px) {
  .contact-header-container h1 {
    font-size: 3.5rem;
  }
}
